process {
    tag = {"$sid"}
    publishDir = {"./results_fs/"}
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
}

params {
    root_fs_input=false
    root_fs_output=false
    help=false

    nb_threads=4
    atlas_utils_folder="/FS_BN_GL_utils/"
    brainstem_structures=false

    compute_FS_BN_GL=true
    compute_lausanne_multiscale=true
}

singularity.autoMounts = true

profiles {
    macos {
            process.scratch="/tmp"
    }
}
