process {
    tag = {"$sid"}
    publishDir = {"./results_fs/$sid/$task.process"}
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
}

params {
    root_fs_input=false
    root_fs_output=false

    help=false

    nb_threads=4
    atlas_utils_folder="/FS_BN_GL_SF_utils/"
    compute_FS_BN_GL_SF=true
    compute_lausanne_multiscale=true

    //**Process control**//
    processes = false
}

singularity.autoMounts = true

if(params.processes) {
    if(params.processes > Runtime.runtime.availableProcessors()) {
        throw new RuntimeException("Number of processes higher than available CPUs.")
    }
    else if(params.processes < 1) {
        throw new RuntimeException("When set, number of processes must be >= 1 " +
                                   "and smaller or equal to the number of CPUs.")
    }
    else {
        executor.$local.cpus = params.processes
    }
}

profiles {
    macos {
            process.scratch="/tmp"
    }
}
