process {
    tag = {"$sid"}
    publishDir = {"./results/"}
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
}

params {
    root_fs_input=false
    root_fs_output=false
    help=false

    nb_threads=4
    atlas_utils_folder="/FS_BN_GL_utils/"
    brainstem_structures=false
}
